/* Container principal */
#grupo-container, #subgrupo-container {
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Título da página */
  #grupo-title, #subgrupo-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Container de resultados
  #results-container {
    overflow-x: auto;
  }
  
  #results-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  #results-container th, #results-container td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  #results-container th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
   */
  /* Paginação */
  #pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
  }
  
  #pagination-container button {
    padding: 6px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #pagination-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  #pagination-container span {
    font-size: 16px;
  }
  

  
  /* Toast 
  .toast {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    z-index: 1000;
  }
  
  .toast.success {
    background-color: #28a745;
  }
  
  .toast.error {
    background-color: #dc3545;
  }*/
  
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modal-form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .modal-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modal-form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  