body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*Botões de Busca*/

#search-container {
  margin-bottom: 20px;
  border: 2px solid rgb(197, 193, 193);
  padding: 20px;
  border-radius: 5px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex; /* ou block */
  flex-direction: column; /* ou pode omitir se for padrão */
  gap: 20px; /* adiciona espaço entre as divs internas */

}

/**/

#search-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaço maior entre os elementos */
  justify-content: flex-start; /* Alinha à esquerda */
}

#search-fields > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 20%; /* Ajusta a largura mínima dos campos */
  max-width: 250px; /* Limita o tamanho máximo */
}

#search-fields input {
  padding: 5px; /* Um bom padding interno para os inputs */
  margin-bottom: 25px; /* Define o espaço entre os inputs */
}

/* Contêiner geral */
#results-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* Separador */
#separator-bar {
  border-top: 2px solid #007bff;
  margin: 20px 0;
}


#button-group {
  display: flex;
  justify-content: center;
  /* Alinha os botões ao centro */
  gap: 10px;
  /* Espaçamento entre os botões */
  margin-top: auto;
  /* Empurra o grupo de botões para o rodapé */
  
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  background-color: #0056b3;
}

#button-action {
  padding: 10px 20px;
}

.edit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  margin: 4px;
  /* Espaço em todos os lados */
}

.edit-button:hover {
  background-color: #0056b3;
}

.button-group .button:last-child {
  background-color: #f44336;
}

.button-group .button:last-child:hover {
  background-color: #e53935;
}

/* Botões de Paginação */
#pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#pagination-container button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#pagination-container button:hover {
  background-color: #0056b3;
}

#pagination-container button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

#pagination-container span {
  font-size: 14px;
  color: #333;
  margin: 0 10px;
}

/* Mostrar mais linhas */
#show-more-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
  align-items: center;
}

#show-more-container label {
  font-weight: bold;
}

#rows-select {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.input-geral {
  padding: 6px;
  /* Diminuir o padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  /* Ocupa toda a largura disponível */
  font-size: 14px;
  /* Ajustar o tamanho da fonte */
  margin-bottom: 10px; /* Espaço entre os inputs */

}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Isso fará com que a área de carregamento ocupe toda a altura da tela */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  /* Cor do fundo */
  border-top: 4px solid #3498db;
  /* Cor do efeito de carregamento */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.select-geral {
  padding: 6px;
  /* Diminuir o padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 25%;
  /* Definir uma largura */
  font-size: 14px;
  /* Ajustar o tamanho da fonte */
  appearance: none;
  /* Remover o estilo padrão do select (opcional) */
  background-color: #fff;
}

.select-geral {
  /* Adicionar qualquer ajuste específico para o select, se necessário */
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fundo escurecido */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Certifique-se de que está acima de outros elementos */
}

/* Botão de Fechar */
.modal-close {
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  justify-content: flex-end;
  /* Certifique-se de que o botão está acima de outros elementos */

}

.modal-close:hover {
  background-color: rgb(133, 12, 12);
  /* Cor ao passar o mouse */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 90%;
  position: relative;
}

#btnsalvar {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  justify-content: center;
}

#btnsalvar:hover {
  background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
  #separator-bar {
    border-top: 1px solid #007bff; /* Espessura reduzida */
    margin: 10px 0; /* Menor espaçamento em telas pequenas */
  }
  #results-container {
    padding: 8px; /* Reduz o padding para maximizar o espaço útil */
  }
}